
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-size: 2rem;
    background-color: aqua;
}

section.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: aquamarine;
}

div.container {
    width: 30rem;
    height: 30rem;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.display {
    width: 25rem;
    height: 5rem;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-and-choice {
    width: 25rem;
    height: 20rem;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.result-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.generate {
    width: 5rem;
    height: 2rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: .3rem;
}

.result {
    width: 10rem;
    height: 10rem;
    background-color:bisque;
    box-sizing: border-box;
    padding: 1rem;
    word-wrap: break-word;
    overflow-y: scroll;
}

.choiceContainer {
    width: 12rem;
    height: 18rem;
    background-color:rgb(253, 219, 144)
}

.passwordLength {
    width: 12rem;
    height: 3rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordLength > input {
    width: 11rem;
}



/* pre-built footer by beast code */

footer {
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 10vh;
    background-color: aqua;
    padding: 36px;
    box-sizing: border-box;
}

footer a {
    text-decoration: none;
    color: black;
}

footer img {
    width: 25px;
    height: auto;
    transition: transform .7s ease-in-out;
    margin-left: 5px;
}

footer img:hover {
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.5);
}