
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-size: 2rem;
}

section.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

footer {
    padding: 36px;
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 10vh;
}

footer a {
    text-decoration: none;
    color: black;
}

footer img {
    width: 25px;
    height: auto;
    transition: transform .7s ease-in-out;
    margin-left: 5px;
}

footer img:hover {
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.5);
}