
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-size: 2rem;
    background-color: black;
    color: #59fb66;
}

section.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: black;
}

div.container {
    width: 28rem;
    height: 28rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #59fb66;
}

.display {
    width: 25rem;
    height: 5rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #59fb66;
    border: 1px solid ;
    box-sizing: border-box;
}

.result-and-choice {
    width: 25rem;
    height: 20rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    padding: 1rem;
    border: 1px solid #59fb66;
    box-sizing: border-box;
}

.result-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.generate {
    width: 5rem;
    height: 2rem;
    background-color: black;
    color: #59fb66;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    border: 1px solid #59fb66;
}

.generate:hover {
    cursor: pointer;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: .3rem;
    color: #59fb66;
    border:1px solid #59fb66;
}

.copy:hover {
    cursor: pointer;
}

.result {
    width: 10rem;
    height: 10rem;
    color: #59fb66;
    background-color:black;
    box-sizing: border-box;
    padding: 1rem;
    word-wrap: break-word;
    overflow-y: scroll;
    text-align: center;
    border: 1px solid #59fb66;
}

.inputContainer {
    width: 12rem;
    height: 18rem;
    background-color:black;
    border: 1px solid #59fb66;
}

.passwordLength {
    width: 12rem;
    height: 3rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #59fb66;
    box-sizing: border-box;
}

.passwordLength > input {
    width: 11rem;
}

.choicesContainer {
    padding: 1rem;
}

.choicesContainer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #59fb66;
    font-family: monospace;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.1rem;
}

input:hover {
    cursor: pointer;
}


/* pre-built footer by beast code */

footer {
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 10vh;
    background-color: black;
    padding: 36px;
    box-sizing: border-box;
    color: #59fb66;
}

footer a {
    text-decoration: none;
    color: #59fb66;
}

footer img {
    width: 25px;
    height: auto;
    transition: transform .7s ease-in-out;
    margin-left: 5px;
}

footer img:hover {
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.5);
}

