/* to avoid user from selecting */
* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

/* body css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-size: 2rem;
    background-color: black;
    color: #59fb66;
}

section.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: black;
}

div.container {
    width: 28rem;
    height: 28rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 3px solid #59fb66;
}

.display {
    width: 25rem;
    height: 5rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #59fb66;
    border: 3px solid #59fb66;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.result-and-choice {
    width: 25rem;
    height: 20rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    padding: 1rem;
    border: 3px solid #59fb66;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.result-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.generate {
    width: 5rem;
    height: 2rem;
    background-color: black;
    color: #59fb66;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    border: 3px solid #59fb66;
    font-size: .8rem;
    border-radius: 20px;
}


.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: .3rem;
    color: #59fb66;
    border:3px solid #59fb66;
    font-size: .8rem;
    border-radius: 20px;
}

.generate:hover, .copy:hover {
    cursor: pointer;
    background-color: rgb(33, 33, 33);
}

.result {
    width: 10rem;
    height: 10rem;
    color: #59fb66;
    background-color:black;
    box-sizing: border-box;
    padding: 1rem;
    word-wrap: break-word;
    overflow-y: scroll;
    text-align: center;
    border: 3px solid #59fb66;
    border-radius: 20px;
}

/* start of customization on scroll bar overflow-y */
  ::-webkit-scrollbar-track {
    background-color: black;
  }

  ::-webkit-scrollbar-thumb {
    background: #59fb66;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #59fb66;
  }

  ::-webkit-scrollbar {
    width: 0.2rem;
    height: 1rem;
  }
/* end of customization on scrollbar overflow-y */


.inputContainer {
    width: 12rem;
    height: 18rem;
    background-color:black;
    /* border: 1px solid #59fb66; */
}

.passwordLength {
    width: 12rem;
    height: 3rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #59fb66; */
    box-sizing: border-box;
}

/* .passwordLength > input {
    width: 11rem;
} */

.choicesContainer {
    padding: 1rem;
}

input:hover {
    cursor: pointer;
}

/* input[type="number" edit to passLengthContainer div*/
.passLengthContainer {
    position: relative;
    width: 5rem;
    height: 3rem;
    background-color: rgb(0, 0, 0);
    border-radius: 2.5rem;
    border: 3px solid #59fb66;
    transition: 0.5s;
    margin-top: 1rem;
}

.passLengthContainer:hover {
    width: 7rem;
}

.passLengthContainer > .next {
    position: absolute;
    top: 50%;
    right: 2rem;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-top: 3px solid #59fb66;
    border-left: 3px solid #59fb66;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.passLengthContainer:hover > .next {
    opacity: 1;
    right: 1rem;
}

.passLengthContainer > .prev {
    position: absolute;
    top: 50%;
    left: 2rem;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-top: 3px solid #59fb66;
    border-left: 3px solid #59fb66;
    z-index: 1;
    transform: translateY(-50%) rotate(315deg);
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

.passLengthContainer:hover > .prev {
    opacity: 1;
    left: 1rem;
}

div#box > span {
    color: #59fb66;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.choice {
    display: flex;
    justify-content: space-between;
}

.choice > label {
    text-align:center;
}

.choicesContainer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #59fb66;
    margin-top: .5rem;
    margin-bottom: .5rem;
}


/* pre-built footer by beast code */

footer {
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 10vh;
    background-color: black;
    padding: 36px;
    box-sizing: border-box;
    color: #59fb66;
}

footer a {
    text-decoration: none;
    color: #59fb66;
}

footer img {
    width: 25px;
    height: auto;
    transition: transform .7s ease-in-out;
    margin-left: 5px;
}

footer img:hover {
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.5);
}

